# Database
# Para desarrollo local con SQLite (opcional)
# DATABASE_URL="file:./dev.db"

# Para producción con Neon (PostgreSQL)
DATABASE_URL="postgresql://user:password@host.neon.tech/dbname?sslmode=require"

# Application URL (for internal API calls)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Google Places API
GOOGLE_PLACES_API_KEY="tu-api-key-aqui"
GOOGLE_PLACE_ID="ChIJ..."

